.ocean {
    background-color: green;
    border: 2px solid white;
}

.ocean a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ocean li {
    display: inline;
    padding: 5px;
    margin-left: 2px;
}

h3 {
    margin-bottom: 0%;
}

hr {
    color: green;
    background-color: green;
    border:  solid green;
    margin-top: 0%;
    border-width: 1.5px;
}

#a {
    border: solid aqua;
    padding: 15px;
    padding-left: 0%;
}

#b {
    border-top: solid aqua;
    border-bottom: solid aqua;
    border-left: solid navy;
    border-right: solid navy;
    padding: 15px;
    padding-left: 0%;
}

#c {
    border-top: solid navy;
    border-bottom: solid aqua;
    border-left: solid green;
    border-right: solid beige;
    padding: 15px;
    padding-left: 0%;
}

#d {
    background-color: green;
    padding: 15px;
    padding-left: 2%;
    border-radius: 5px;
    color: white;
    text-shadow: 5px 4px 5px;
}

.human {
    width: 400px;
    height: 400px;
    border-radius: 50%;

}


.title {
    text-align: center;
    text-decoration: underline;
    color: green;
    text-shadow: 2px 2px 3px green;
}

.text1 {
    background-color: green;
    color: white;
    padding: 3px;
}

text h4 {
    text-align: center;
}

.text1 p {
    text-align: center;
}

.text2 {
    background-color: green;
    color: white;
    padding: 3px;
    width: 80%;
}

.text2 h4{
    text-align: center;
}

.text2 p {
    text-align: center;
}

.text3 {
    background-color: green;
    color: white;
    padding: 3px;
    width: 60%;
}

.texxt3 h4 {
    text-align: right;
}

.text3 p {
    text-align: right;
    text-decoration: line-through;
}

.BoxOne {
    background-color: beige;
    background-size: 200px;
    padding: 8px;
    width: 50%;
}

.BoxTwo {
    border: solid white;
    border-width: 2px;
    text-align: center;
}

.BoxTwo p {
    margin: 0px;
}

.BoxThree {
    background-image: url(download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid white;
    border-width: 2px;
    margin-top: 5px;
    height: 300px;
    background-position: center;

}

